@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}
/* logo section */
.logo-section {
  background-image: url(./images/landscape.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.6);
}

.image-credit {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 0.6rem;
}

.logo-img {
  height: 100px;
  padding: 8px;
}

.logo-font {
  font-size: 4rem;
  color: white;
}

/* Content section */

.content-container {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #e5e7eb;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #1f2937;
  padding: 16px;
}

.header-container h1,
.header-container div {
  font-size: 1.25rem;
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.invite-phase {
  margin-top: 16px;
}
/* form section */

.form-container {
  flex: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.form-container > form > fieldset {
  border: 0 none;
}

.form-container > form > fieldset > legend {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.sign-up-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  /* padding-right: 16px; */
}

.sign-up-input-container input {
  border-radius: 5px;
  border: 1px solid #abadb1;
  padding: 4px;
}

.sign-up-input-container input:focus {
  border: 1px solid #e59700;
}

/* .sign-up-input-container input:valid {
  border: 1px solid rgb(192, 230, 192);
}
.sign-up-input-container input:invalid {
  border: 1px solid lightpink;
} */

/* create account button section */

.create-account-button-section {
  background-color: #e5e7eb;
  height: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: auto;
}

.create-account-button-section button {
  padding: 16px 0;
  background-color: #e59700;
  border-radius: 5px;
  border: 2px solid #e59700;
  color: #e5e7eb;
  font-weight: bold;
}

.create-account-button-section a {
  color: #e59700;
  font-weight: bold;
}

/* Desktop */
@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    max-width: 1920px;
  }

  .logo-section {
    flex: auto;
    width: 200px;
    background-image: url(./images/vertical.jpg);
    background-size: cover;
    position: relative;
  }

  .logo-container {
    position: absolute;
    width: 100%;
    top: 20%;
  }

  .logo-container img {
    height: 150px;
  }
  .content-container {
    flex: 3;
  }

  .header-container {
    padding-top: 100px;
    padding-left: 50px;
    flex: 1;
  }

  .form-container {
    padding-left: 50px;
    justify-content: center;
    flex: 2;
  }

  .create-account-button-section {
    padding-left: 50px;
    flex: 1;
  }
  .create-account-button-section button {
    width: 250px;
  }
}
